
@model Event_Mgnt_System.Models.Booking_Events

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/PopupWin.css" />



    <script src="js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<style>
    body{
         background-color: whitesmoke;

    }

    #box {
    }

    #main-div {
        height: 500px;
        background-image: url('../../Content/img/building6.jpg');
    }

    .insidebox {
        border: 1px solid black;
        margin: 20% auto 10% auto;
        width:700px;
        
        padding-left:170px;
        
        border-radius:5px;
           background-color:white;
        margin-top:180px;
        
    }

    div h1 {
        text-align: center;
    }

    p#para {
        text-align: center;
        font-size: 14px;
    }
</style>

<body>
    <div id="main-div">
        <div id="box" class="img-responsive">


            @using (@Html.BeginForm("BookEvent", "User", new { Name = @ViewBag.Name }, FormMethod.Post))
            {
            <div class="insidebox">
                <div> <h3 style="margin-left: 80px; font-weight: 300px; font-family: Bahnschrift">Complete Booking</h3></div>


                <br />



                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                        @*<asp:TextBox ID="TextBox1" runat="server" class="form-control" placeholder="Username" required="required"></asp:TextBox>*@
                        @Html.TextBoxFor(x => x.email, new { @class = "form-control", @placeholder = "EmailId" })

                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.email) </span>
                </div>
                <br />

                <div class="form-group">
                    <div class="input-group">

                        <div class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></div>
                        @Html.TextBoxFor(x => x.Event_Type, new { @class = "form-control", Value = @ViewBag.Name, @placeholder = "Event Name" })
                        @*@Html.DropDownListFor(x=>x.Event_Type, ViewBag.eventlist as SelectList,"------select-----",new {@class="form-control"})*@


                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.Event_Type) </span>
                </div>

                <br />

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></div>
                        @*<asp:TextBox ID="TextBox1" runat="server" class="form-control" placeholder="Username" required="required"></asp:TextBox>*@
                        @Html.TextBoxFor(x => x.Venue, new { @class = "form-control", @placeholder = "Venue" })

                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.Venue) </span>
                </div>

                <br />

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                        @*<asp:TextBox ID="TextBox1" runat="server" class="form-control" placeholder="Username" equired="required"></asp:TextBox>*@
                        @Html.TextBoxFor(x => x.Event_Date, new { @class = "form-control", @placeholder = "Event Date " })

                    </div>
                    <span style="color: red">   @Html.ValidationMessageFor(x => x.Event_Date) </span>
                </div>

                <br />

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-hourglass"></span></div>
                        @*<asp:TextBox ID="TextBox1" runat="server" class="form-control" placeholder="Username" required="required"></asp:TextBox>*@
                        @Html.TextBoxFor(x => x.Event_time, new { @class = "form-control", @placeholder = "Event Time" })

                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.Event_time) </span>
                </div>

                <br />

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-check"></span></div>
                        @*<asp:TextBox ID="TextBox1" runat="server" class="form-control" placeholder="Username" required="required"></asp:TextBox>*@
                        @Html.TextBoxFor(x => x.Guest_Number, new { @class = "form-control", @placeholder = "Guest Number" })

                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.Guest_Number) </span>
                </div>

                <br />
                <div class="form-group">


                    <input type="submit" value="Book Now" class="btn btn-default btn-block " style="text-align:center; background-color:darkslategrey;color:white" />
                </div>


                <br />
                <div class="form-group">
                    <p style="color:red">@ViewBag.error</p>
                </div>



            </div>

            }
        </div>

    </div>






    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>>

