
@using PagedList.Mvc;
@model PagedList.IPagedList<Event_Mgnt_System.Models.Event>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SignupLayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View  Category</title>
    <link href="~/Content/paginition.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>




        <div class="row" style="margin-bottom:40px">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-4" style="height:200px;margin-top:60px">
                        
                        <a href="@Url.Action("BookEvent","User", new {Name=@item.Event_Type})"><img src="@Url.Content(item.event_image)" style=" height:80%;width:100% ;border-radius:5px 5px 5px 5px; margin-left:5px" /></a>
                        <h4 style="color:#000000; font-family:'Arial Rounded MT';text-align:center">@item.Event_Type</h4>
                        
                    </div>

                }
            }

        </div>


    </div>

    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>




</body>
</html>

