
@using PagedList.Mvc;
@model PagedList.IPagedList<Event_Mgnt_System.Models.Event>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SignupLayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View  Category</title>
    <link href="~/Content/paginition.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<style>

    .im:hover{
            filter: blur(3px);
            -webkit-filter: blur(3px);
              -moz-box-shadow: 10px 10px 5px #808080;
           -webkit-box-shadow: 10px 10px 5px #808080;
           box-shadow: 10px 10px 5px #808080;
           -moz-border-radius:25px;
          -webkit-border-radius:25px;
     
            
    }

</style>
<body>

    <div class="container" style="height:1150px; ">
        <div class="row">
            <div class="col-lg-12" style="height:100px;">


               


            </div>

        </div>


        <div class="row" style="margin-bottom:40px" id="event">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
            <div class="col-lg-4 col-md-4" style="height:200px; margin-top:100px">

              <a href="@Url.Action("BookEvent","User", new {Name=@item.Event_Type})"><img src="@Url.Content(item.event_image)" class="im" style=" height: 100%;
        width: 100%;
        border-radius: 20px 20px 20px 20px;
        margin-left: 5px" /></a>
                <div style=" color:white; font-size:30px; font-weight:200; text-align:center;font-family:Stencil;   position:absolute;top: 50%;left: 50%;transform: translate(-50%, -50%)">@item.Event_Type</div>
       


            </div>

                }
            }

        </div>


    </div>

    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>




</body>
</html>

