@using PagedList.Mvc;
@model PagedList.IPagedList<Event_Mgnt_System.Models.Booking_Events>
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/paginition.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Profile</title>
</head>
<body>


   



    <img src="~/Content/Images/profile.png" class="img-center" height="160" width="200" style="margin-left:550px; margin-top:200px" />

    <div style="margin-left:550px; margin-top:20px ;font-family:Bahnschrift; font-size:40px">

        Welcome @ViewBag.UserName !!
    </div>


    <div class="panel panel-info" style="Height:200px;width:1150px;margin-left:170px;margin-top:20px;font-size:large; font-weight:200px;font-family:'Lucida Bright';
         text-align:justify">
        <div class="panel-heading"> Personal Information</div>
        <div class="panel-body">
            Username:@ViewBag.UserName
            &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;
            Email:@ViewBag.Email<br><br>

            City:@ViewBag.city
            &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp; &nbsp;   &nbsp;  &nbsp;  &nbsp;
            Contact:@ViewBag.contact<br><br>



        </div>
    </div>





    <div class="container" style="height:650px; border:1px solid black;">

        <div style="height:50px;width:1150px;background-color:rgb(179, 217, 255);border-radius: 5px 5px 5px 5px;
          font-size:20px;font-family:Bahnschrift;text-align:center">Booking information</div>

      

            <div class="row" style="margin-bottom:40px">


                @if (Model != null)
                {

                    foreach (var item in Model)
                    {




                        <div class="col-lg-4 col-md-4" style="height:400px; width:300px; margin-top:80px;margin-left:10px;">

                          <div style="height:100%; width:100%; border:1px solid black;border-radius: 5px 5px 5px 5px;
                  margin-left:70px;font-weight:500px;font-size:15px;background-color:white">

                          <div style="padding:0px;height:50px;width:267px;background-color:rgb(179, 217, 255);
                     border-radius: 5px 5px 5px 5px"></div>


                          <p style="padding-left:50px;padding-top:30px">
                              Booking ID:@item.Book_ID<br><br>



                              Event Booked: @item.Event_Type<br><br>

                              Event Venue: @item.Venue<br><br>

                              Event Dates: @item.Event_Date<br><br>
                              Event Time: @item.Event_time<br><br>

                              Approval Status: @item.Approval

                              @if (@item.Approval == "confir" && @item.Book_ID != null)
                                      {
                                         
                                  <br />
                                  <br />



                                  <a href="@Url.Action("PackageSelection","User")">
                                    <button type="button" class="btn btn-success">Select Package</button>
                                  
                                  </a>
                              }

                          </p>


                            </div>



                        </div>




                    }
                }



            </div>

        </div>



        <div id="container" style=" margin-left: 20px">
            <p></p>
            <p></p>
            <div class="pagination" style="margin-left:300px">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("UserProfile", new { page }))
            </div>
        </div>


</body>
</html>
