@using PagedList.Mvc;
@model PagedList.IPagedList<Event_Mgnt_System.Models.Event>
@{
    ViewBag.Title = "ViewEvents";
    Layout = null; ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View  Category</title>
    <link href="~/Content/paginition.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="height:1150px; ">
        <div class="row">
            <div class="col-lg-12" style="height:100px; ">



            </div>

        </div>

        <h3 style="margin-left:100px; font-weight:300px; font-family:Bahnschrift; margin-left:400px">All Added Events</h3>

        <div class="row" style="margin-bottom:40px">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-4" style="height:200px;margin-top:100px">
                        <img src="@Url.Content(item.event_image)" style=" height:100%;width:100% ;border-radius:20px 20px 20px 20px" />
                        <h4 style="color:#808080; font-family:'Arial Rounded MT';text-align:center">@item.Event_Type</h4>
                        <div style="margin-left:160px" class="btn btn-danger btn-sm">
                            <a href="@Url.Action("DeleteEvent","Admin", new { Id = item.Event_ID}) " style="color:blanchedalmond">Delete</a>

                        </div>
                    </div>

                }
            }

        </div>


    </div>

    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("ViewEvents", new { page }))
        </div>
    </div>




</body>
</html>

