
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/footer.css" />
    <link rel="stylesheet" href="~/Content/PopupWin.css" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <nav class="navbar navbar-inverse navbar-fixed-top" style="height:200px; border:1px solid">
        <div class="container-fluid">

            <div class="navbar-header ">

                <img src="~/Content/Images/front.png" class="img-center" height="130" width="100" style="margin-top:20px" />
                <img src="~/Content/Images/Logo.png" class="img-center" height="130" width="250" style="margin-top:20px" />
            </div>

            <ul class="nav navbar-nav" style="margin-left:130px; margin-top:100px;font-size:medium">
                <li><a href="@Url.Action("Index", "User")" style="color:white"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="@Url.Action("About", "Home")" style="color:white"><span class="glyphicon glyphicon-info-sign"></span> About Us</a></li>
                <li><a href="@Url.Action("Gallery", "Home")" style="color:white"><span class="glyphicon glyphicon-picture"></span> Gallery</a></li>
                <li><a href="#" style="color: white ">Services <span class=""></span></a></li>
                <li><a href="#foot" style="color:white"><span class="glyphicon glyphicon-"></span> Contact</a></li>


            </ul>

            <ul class="nav navbar-nav navbar-right" style="margin-top:130px">
                @if (Session["User_ID"] == null)
                {
                    <li><a href="@Url.Action("Signup","User")" style="color:white"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                }
                @if (Session["User_ID"] == null)
                {
                    <li><a href="@Url.Action("Login","User")" style="color:white"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                }
                else
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-align-justify" style="width:auto;color:white"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Profile","User")"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                            <li><a href="@Url.Action("Logout","User")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

                        </ul>
                    </li>

                }


            </ul>



        </div>
    </nav>








    @RenderBody()
    <hr />
    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container-fluid" id="foot">
            <div class="row" style="margin-left:50px">
                <div class="col-sm-9 col-md-6">
                    <h6>About <span class="glyphicon glyphicon-registration-mark"></span></h6>
                    <p class="text-justify">
                        " Our Company is a wedding and event Management Company running successfully from past few years.
                        We are classy, rich, flamboyant and pocket friendly organisation that makes client’s dream as our own."
                    </p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="@Url.Action("Index", "User")"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li><a href="@Url.Action("About", "Home")"><span class="glyphicon glyphicon-info-sign"></span> About Us</a></li>
                        <li><a href="@Url.Action("Gallery", "Home")"><span class="glyphicon glyphicon-picture"></span> Gallery</a></li>
                        <li><a href="@Url.Action("Services", "Home")">Services <span class=""></span></a></li>


                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Contact Us</h6>
                    <ul class="footer-links">
                        <li><span class="glyphicon glyphicon-envelope"></span> Dreamevent21@gmail.com</li>
                        <li><span class="glyphicon glyphicon-earphone"></span> Mobile:+91 4521369784</li>

                    </ul>
                </div>


            </div>

        </div>

    </footer>







    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>
